<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="run_category_sync" xsi:type="object">HawkSearch\Proxy\Console\Command\CategorySync</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\CatalogSearch\Model\Layer\Category\ItemCollectionProvider">
        <arguments>
            <argument name="collectionFactory"
                      xsi:type="object">HawkSearch\Proxy\Model\ResourceModel\CollectionFactory</argument>
        </arguments>
    </type>
    <virtualType name="HawkSearch\Proxy\Model\ResourceModel\CollectionFactory" type="Magento\Catalog\Model\ResourceModel\Product\CollectionFactory">
        <arguments>
            <argument name="instanceName" xsi:type="string">HawkSearch\Proxy\Model\ResourceModel\Collection</argument>
        </arguments>
    </virtualType>
    <virtualType name="HawkSearch\Proxy\Logger\HandlerVirtual" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="filePath" xsi:type="string">var/log/hawksearch_proxy.log</argument>
        </arguments>
    </virtualType>
    <type name="HawkSearch\Proxy\Model\Logger">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="report" xsi:type="object">HawkSearch\Proxy\Logger\HandlerVirtual</item>
            </argument>
        </arguments>
    </type>
</config>