<?xml version="1.0"?>
<!--
/**
 * Copyright (c) 2017 Hawksearch (www.hawksearch.com) - All Rights Reserved
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 * FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS
 * IN THE SOFTWARE.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="hawksearch" translate="label" sortOrder="400">
            <label>HawkSearch</label>
        </tab>
        <section id="hawksearch_proxy" translate="label" type="text" sortOrder="300" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <class>separator-top</class>
            <label>HawkProxy Settings</label>
            <tab>hawksearch</tab>
            <resource>HawkSearch_Proxy::config_hawksearchproxy</resource>
            <group id="general" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>General</label>
                <field id="enabled" translate="label comment" type="select" showInDefault="0" showInWebsite="0"
                       showInStore="1" sortOrder="5">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="logging_enabled" translate="label comment" type="select" showInDefault="0" showInWebsite="0"
                       showInStore="1" sortOrder="10">
                    <label>Enable Logging</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="version" translate="label comment" showInDefault="1" showInWebsite="1" showInStore="1"
                       sortOrder="15">
                    <label>Version</label>
                    <frontend_model>HawkSearch\Proxy\Block\System\Config\Version</frontend_model>
                </field>
            </group>
            <group id="proxy" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Proxy Module Settings</label>
                <field id="engine_name" translate="label comment" type="text" showInDefault="0" showInWebsite="0"
                       showInStore="1" sortOrder="10">
                    <label>Engine Name</label>
                    <comment>Contact your Hawksearch sales rep for this value.</comment>
                </field>
                <field id="hawksearch_api_key"
                       translate="label comment"
                       type="text" showInDefault="0" showInWebsite="0" showInStore="1" sortOrder="15">
                    <label>Hawksearch API Key</label>
                    <comment>Contact your Hawksearch sales rep for this value.</comment>
                </field>
                <field id="order_tracking_key"
                       translate="label comment"
                       type="text" showInDefault="0" showInWebsite="0" showInStore="1" sortOrder="20">
                    <label>Order Tracking key</label>
                    <comment>Contact your Hawksearch sales rep for this value.</comment>
                </field>
                <field id="mode"
                       translate="label comment"
                       type="select" showInDefault="0" showInWebsite="0" showInStore="1" sortOrder="25">
                    <label>Run Mode</label>
                    <source_model>HawkSearch\Proxy\Model\System\Config\Source\Mode</source_model>
                </field>
                <field id="tracking_url_develop"
                       translate="label comment"
                       type="text" showInDefault="1" showInWebsite="0" showInStore="0" sortOrder="30">
                    <label>Hawksearch tracking URL (Development)</label>
                </field>
                <field id="tracking_url_staging"
                       translate="label comment"
                       type="text" showInDefault="1" showInWebsite="0" showInStore="0" sortOrder="35">
                    <label>Hawksearch tracking URL (Staging)</label>
                </field>
                <field id="tracking_url_production"
                       translate="label comment"
                       type="text" showInDefault="1" showInWebsite="0" showInStore="0" sortOrder="36">
                    <label>Hawksearch tracking URL (Production)</label>
                </field>
                <field id="manage_categories" translate="label comment" type="select" showInDefault="0"
                       showInWebsite="0" showInStore="1" sortOrder="40">
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <label>Manage Categories</label>
                </field>
                <field id="manage_all" translate="label comment" type="select" showInDefault="0" showInWebsite="0"
                       showInStore="1" sortOrder="45">
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <label>Manage All Categories</label>
                    <comment>All categories in current store, or only those marked as hawk-managed in category setup
                    </comment>
                    <depends>
                        <field id="manage_categories">1</field>
                    </depends>
                </field>
                <field id="enable_hawk_landing_pages" translate="label comment"
                       type="select" showInDefault="0" showInWebsite="0" showInStore="1" sortOrder="46">
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <label>Enable HawkSearch Landing pages</label>
                    <depends>
                        <field id="manage_categories">1</field>
                    </depends>
                </field>
                <field id="manage_search"
                       translate="label comment"
                       type="select" showInDefault="0" showInWebsite="0" showInStore="1" sortOrder="50">
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <label>Manage Search</label>
                </field>
                <field id="search_box_ids" translate="label comment" type="text" showInDefault="0" showInWebsite="0"
                       showInStore="1" sortOrder="55">
                    <label>Search Box HTML ID's</label>
                    <comment>Comma separated list of HTML ID's of search boxes to attach to HawkSearch</comment>
                    <depends>
                        <field id="manage_search">1</field>
                    </depends>

                </field>
                <field id="enable_custom_search_route"
                       translate="label comment"
                       type="select" showInDefault="0" showInWebsite="0" showInStore="1" sortOrder="60">
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <label>Add custom URL route for search</label>
                    <depends>
                        <field id="manage_search">1</field>
                    </depends>

                </field>
                <field id="custom_search_route"
                       translate="label comment"
                       type="text" showInDefault="0" showInWebsite="0" showInStore="1" sortOrder="65">
                    <label>Custom search route</label>
                    <comment>Route must not be used by another module or contain a directory separator '/'</comment>
                    <depends>
                        <field id="enable_custom_search_route">1</field>
                    </depends>
                </field>
                <field id="custom_search_use_suffix" translate="label comment" type="select" showInDefault="0"
                       showInWebsite="0" showInStore="1" sortOrder="70">
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <label>Use Category URL Suffix</label>
                    <depends>
                        <field id="manage_search">1</field>
                    </depends>
                    <depends>
                        <field id="enable_custom_search_route">1</field>
                    </depends>
                </field>
                <field id="hawksearch_include_css" translate="label comment" type="select"
                       showInDefault="0" showInStore="1" showInWebsite="0" sortOrder="80">
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <label>Use HawkSearch CSS</label>
                </field>
                <field id="autocomplete_div_id"
                       type="text"
                       showInWebsite="0"
                       showInDefault="0"
                       showInStore="1"
                       sortOrder="90">
                    <label>Autocomplete Div ID</label>
                    <comment>The HTML id of the div that will hold autosuggest results</comment>
                </field>
                <field id="autocomplete_query_params"
                       type="text"
                       showInWebsite="0"
                       showInDefault="0"
                       showInStore="1"
                       sortOrder="100">
                    <label>Query Params for the autosuggest call to HawkSearch</label>
                    <comment>Default is: "/?fn=ajax&amp;f=GetSuggestions"</comment>
                </field>
                <field id="result_type" type="text" showInStore="1" sortOrder="110">
                    <label>Result Type</label>
                    <comment>Default is 'item'</comment>
                </field>
            </group>
            <group id="sync" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Synchronization Settings</label>
                <field id="synchronize" translate="button_label" sortOrder="5" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label/>
                    <button_label>
                        <![CDATA[Synchronize]]>
                    </button_label>
                    <button_url>
                        <![CDATA[hawksearchproxy/hawkproxysynchronize/index]]>
                    </button_url>
                    <frontend_model>HawkSearch\Proxy\Block\System\Config\Sync</frontend_model>
                    <comment>
                        <![CDATA[Manually Synchronize Categories.]]>
                    </comment>
                </field>
                <field id="enabled" translate="label comment" type="select" showInDefault="1" showInWebsite="1"
                       showInStore="1" sortOrder="25">
                    <label>Enable cron sync</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="cron_string" translate="label comment" type="text" showInDefault="1" showInWebsite="1"
                       showInStore="1" sortOrder="30">
                    <label>Cron expression</label>
                    <comment>Integer and modular values only, named values and lists not allowed</comment>
                    <backend_model>HawkSearch\Proxy\Model\Config\Backend\Cron</backend_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="email" translate="label comment" type="text" showInDefault="1" showInWebsite="1"
                       showInStore="1" sortOrder="35">
                    <label>Feed Cron Email</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>